<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Internet permission for API calls -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- AD_ID permission intentionally omitted: UniTune uses non-personalized ads only.
         No Advertising ID (GAID) is collected or transmitted. GDPR/privacy compliant. -->
    
    <application
        android:label="UniTune"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            
            <!-- Main launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- SHARE INTENT: Receive text shares (music links) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            
            <!-- DEEP LINK: Handle unitune.art share links (/s/*) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data 
                    android:scheme="https" 
                    android:host="unitune.art"
                    android:pathPrefix="/s/"/>
            </intent-filter>
            
            <!-- DEEP LINK: Handle unitune.art playlist links (/p/*) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data 
                    android:scheme="https" 
                    android:host="unitune.art"
                    android:pathPrefix="/p/"/>
            </intent-filter>
            
            <!-- Custom URL scheme for app-to-app communication -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="unitune"/>
            </intent-filter>
            
            <!-- MUSIC LINK INTERCEPTION: Spotify (open.spotify.com) -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="open.spotify.com"/>
            </intent-filter>
            

            <!-- MUSIC LINK INTERCEPTION: Apple Music -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="music.apple.com"/>
            </intent-filter>
            
            <!-- MUSIC LINK INTERCEPTION: Tidal (tidal.com) -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="tidal.com"/>
            </intent-filter>
            
            <!-- MUSIC LINK INTERCEPTION: Tidal (listen.tidal.com) -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="listen.tidal.com"/>
            </intent-filter>
            
            <!-- MUSIC LINK INTERCEPTION: YouTube Music -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="music.youtube.com"/>
            </intent-filter>
            

            <!-- MUSIC LINK INTERCEPTION: Deezer (deezer.com) -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="deezer.com"/>
            </intent-filter>
            
            <!-- MUSIC LINK INTERCEPTION: Deezer (www.deezer.com) -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="www.deezer.com"/>
            </intent-filter>
            
            <!-- MUSIC LINK INTERCEPTION: Deezer (deezer.page.link) -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="deezer.page.link"/>
            </intent-filter>
            
            <!-- MUSIC LINK INTERCEPTION: Amazon Music -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="music.amazon.com"/>
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- Google AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8547021258440704~3406297771"/>
    </application>
    
    <!-- Query for package visibility (check installed apps) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Music apps -->
        <package android:name="com.spotify.music"/>
        <package android:name="com.apple.android.music"/>
        <package android:name="com.aspiro.tidal"/>
        <package android:name="com.google.android.apps.youtube.music"/>
        <package android:name="deezer.android.app"/>
        <package android:name="com.amazon.mp3"/>
        <!-- Messengers -->
        <package android:name="com.whatsapp"/>
        <package android:name="org.telegram.messenger"/>
        <package android:name="org.thoughtcrime.securesms"/>
        <!-- URL launching -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
